<?xml version="1.0" ?>
<!--
/**
 * Copyright © Bluethinkinc@copyright All rights reserved.
 * See COPYING.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<carriers>
			<kuebixapi>
				<model>Bluethinkinc\Kuebix\Model\Carrier\Kuebixapi</model>
				<active>0</active>
				<title>Kuebixapi</title>
				<name>Kuebixapi</name>
				<price>0.00</price>
				<api_url></api_url>
				<username></username>
				<password></password>
				<client_id></client_id>
				<payment_type></payment_type>
				<shipment_mode></shipment_mode>
				<shipment_type></shipment_type>
				<origin_pincode></origin_pincode>
				<rate_percentage></rate_percentage>
				<restrict_pincode></restrict_pincode>
				<sort_order>0</sort_order>
				<specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
			</kuebixapi>
		</carriers>
	</default>
</config>
